{% macro readArray(array) %}
  {% import _self as macros %}
  <ul>
  {% for key, ff in array %}
    {% if ff is iterable %}
      <li class='folder'><h4 class="folderBtn">{{ key }}</h4>
      {{ macros.readArray(ff) }}
      </li>    
    {% else %}
     <li class="file" data-path="{{ ff }}"><h5>{{ key }}</h5>
     </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}
{% block fildetaljer %}
  <div class="fileInfo">
    <h6>{% if deskr %}{{ deskr }}{% else %}No description found.{% endif %}</h6>
    <h5>Filename reffered in:</h5>
    <ul class="filelist">
    {% if usedin %}
      {% for file in usedin %}
        <li>{{ file }}</li>
      {% endfor %}
    {% else %}
      <h6>No matches found</h6>
    {% endif %}
    </ul>
    <h5>Dependencies:</h5>
    <ul class="filelist">
    {% if dependencies %}
      {% for file in dependencies %}
        <li>{{ file }}</li>
      {% endfor %}
    {% else %}
      <h6>No dependencies found</h6>
    {% endif %}
    </ul>
  </div>

{% endblock %}